<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/api/assets/web/Error_Page.css" />
    <title>page not found</title>
  </head>
  <body>
    <div id="root">
      <section class="text__container">
        <h1 class="text__expresion">Uh-Oh!</h1>
        <h1 class="text__error">405</h1>
        <h3 class="text__title">METHOD NOT ALLOWED</h3>
        <p class="text__description">
          The method you are requesting is not allowed on the platform, you can
          go back to <a href="/api" class="text_direction">home</a> to see other
          routes and their methods.
        </p>
      </section>
    </div>
  </body>
</html>
